/* .productsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  border: none !important;
  background-color: #ffffff !important;
}

.categoryTitle {
  height: 15rem;
  padding-top: 5rem;
  width: 100%;
  display: inline-block;
  background-color: black;
  color: #ffffff;
  margin-top: 5rem;
  font-size: 3rem;
  margin-bottom: 5rem;
}



.productList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  grid-row-gap: 10rem;
  margin: 2rem auto;
  background-color: rgb(255, 255, 255);
}

@media (max-width: 1424px) {
  .productList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .productList {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.Card {
  width: 250px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  margin-bottom: 20px;
}


.productList h1 {
  font-size: 18px;
  color: #999;
} */

/* Estilos para el contenedor de productos */
.productsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  border: none !important;
  background-color: #ffffff !important;
  margin: 0 30rem;
}

/* Estilos para el título de la categoría */
.categoryTitle {
  height: 15rem;
  padding-top: 5rem;
  width: 100%;
  display: inline-block;
  background-color: black;
  color: #ffffff;
  margin-top: 5rem;
  font-size: 3rem;
  margin-bottom: 5rem;
}

.productList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem 1.5rem;
  margin: 2rem auto;
  background-color: rgb(255, 255, 255);
}

/* Diseño responsive */
@media (max-width: 1424px) {
  .productList {
    grid-template-columns: repeat(3, 1fr); /* Cambia el número de columnas para tablets */
  }
}

@media (max-width: 1024px) {
  .productList {
    grid-template-columns: repeat(2, 1fr); /* Cambia el número de columnas para tablets */
  }
}

@media (max-width: 768px) {
  .productsContainer {
    margin: 0 2rem;
  }

  .productList {
    grid-template-columns: repeat(2, 1fr); /* Cambia el número de columnas para pantallas más pequeñas */
    gap: 2rem 1rem;
  }
}

@media (max-width: 480px) {
  .productsContainer {
    margin: 0 1rem;
  }

  .productList {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
  }
}

/* Estilos para la tarjeta de producto (suponiendo que se utiliza la clase "Card") */
.Card {
  width: 250px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Puedes ajustar el valor según la cantidad de espacio que desees */
}

/* Estilos para el mensaje "No hay productos en esta Categoría" */
.productList h1 {
  font-size: 18px;
  color: #999;
}

/* Estilos para la paginación */
.divPagination {
  margin-top: 2rem;
}
