.container {
  display: flex;
  flex-direction: column;
}

.container h2 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

.divProduct {
  display: flex;
  justify-content: center;
  padding: 0 20rem;
  gap: 2rem;
}

.divData {
  padding: 5rem 0;
}

.divName h3 {
  font-size: 3rem;
  color: black;
  font-weight: 300;
}

.divName p {
  font-size: 5rem;
  color: var(--second-bg-color);
}

.divVariations {}

.divVariations h4 {
  font-size: 2rem;
  color: black;
  font-weight: 300;
}

.divQuantity {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: .5rem;
}

.btnDecrement {
  background-color: black;
  color: white;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  border: solid .1rem black;
  border-radius: .3rem;
  cursor: pointer;
}

.btnIncrement {
  background-color: var(--second-bg-color);
  color: white;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  border: solid .1rem var(--second-bg-color);
  border-radius: .3rem;
  cursor: pointer;
}

.btnDecrement:hover {
  background-color: #242424;
  color: white;
  border: solid .1rem #1b1b1b;
  transition: .3s;
}

.btnIncrement:hover {
  background-color: #ff588d;
  color: white;
  border: solid .1rem var(--second-bg-color);
  transition: .3s;
}

.inputQuantity {
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  border-radius: .3rem;
}

.cantTotal {
  font-size: 2rem;
  font-weight: 700;
  color: black;
  margin-top: 1rem;
}

.divBtns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.btnAddToCart {
  width: 100%;
  height: 4rem;
  background-color: black;
  color: white;
  font-size: 1.8rem;
  border: none;
  border-radius: .3rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.btnAddToCart:hover {
  background-color: #1a1a1a;
}

.btnConsult {
  width: 100%;
  height: 4rem;
  background-color: #1EBF5C;
  color: white;
  font-size: 1.8rem;
  border: none;
  border-radius: .3rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.btnConsult:hover {
  background-color: #25D366;
}


/* .divGlobal {
  display: flex;
  justify-content: center;
  align-items: center; 
  max-width: 90%;
  gap: 5rem;
}

.minimo {
  text-align: center;
  padding-top: 1rem;
  color: #ffffff;
  min-height: 5rem;
  background-color: black;
  
} 

.continent {
  padding-bottom: 30rem;
 
}

.divLocal {
  padding: 2.5rem;
}

.divPhotos {
  display: flex;
  margin-left: 5rem;
  margin-top: 10rem;
  
}
.divImage .gallery {
  flex: 1;
  padding: 2rem;
  

}

.divImage {
  
  overflow: hidden;

}

.productoDetail {
  padding-top: 2rem;
  background-color: #ffffff;
  padding: 0 1rem;
}


.productoDetailName {
  font-size: 2.4rem;
  color: #000000;
  margin-bottom: 1rem;
}

.productoDetailDescription {
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 1rem;
}

.productoDetailPrice {
  font-size: 5.6rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 1rem;
}

.productoDetailDiscount {
  color: #00a65a;
  margin-bottom: 1rem;
}

.productoDetailCategory {
  font-style: italic;
  color: #666666;
  margin-bottom: 1rem;
}

.productoDetailImages {
  overflow: scroll; 
  max-height: 90rem;
  max-width: 50rem;
 
}
.productoDetailImages::-webkit-scrollbar {
  display: none;
}

.productoDetailImageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 40rem;
  max-height: 80rem;
  overflow: hidden;
}

.productoDetailImage {
  width: 50rem;
  height: 90rem;
  object-fit: cover;
  cursor: zoom-in;
  
}



.productoDetailImageZoomOverlay.active {
  display: flex;
}

.productoDetailImageZoom {
  max-height: 90vh;
  max-width: 90vw;
}

.productoDetailStock {
  font-size: 1.2rem;
  font-weight: bold;
  color:#000000;
  margin-top: 2rem;
}

.productoDetailVariations {
  font-style: italic;
  color: #666666;
  margin-top: 2rem;
}
.gallery {
  max-width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 8rem;
}

.galleryImage {
  width: 9rem;
  height: 15rem;
  margin: .5rem;
  cursor: pointer;
}

.selected {
  border: .2rem solid rgb(0, 0, 0);
}





.buttonCart {
  width: 27rem;
  height: 4rem;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.6rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2rem;
  transition: transform 0.3s ease-in-out;
}

.buttonCart:hover {
  background-color: #f9457f;
}

.buttonCart:active {
  animation: clickAnimation 0.5s ease-in-out; 
  transform: scale(0.95);
}

@keyframes clickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92);
  }
  100% {
    transform: scale(0.95); 
  }
}



.buttonWP {
  width: 27rem;
  height: 4rem;
  background-color: #00a65a;
  color: #ffffff;
  font-size: 1.6rem;
  
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2rem;
}

.divDescription {
  margin-top: 5rem;
  padding: 2rem;
  width: 190rem;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  margin-left: auto;
}

.divVariant {
  background-color: #ffffff;
  
  padding-right: 15rem;
}
.divVariant p {
  font-size: 1.6rem;
  color: #000000;
  
  margin-left: 0rem; 
}

.divVariant h3 {
  font-size: 1.6rem;
  color: #000000;
  margin-bottom: 1rem;
}

.divQuantity {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: .5rem;
}

.divQuantity p {
  background-color: #f9457f;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: #ffffff;
}

.btnQuantity {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.decrement {
  background-color: #000000;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  border: solid .1rem #000000;
  border-radius: .4rem;
  cursor: pointer;
}

.increment {
  background-color: #f9457f;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  border: solid .1rem #f9457f;
  border-radius: .4rem;
  cursor: pointer;
}

.decrement:hover {
  background-color: #242424;
  color: #ffffff;
  border: solid .1rem #1b1b1b;
  transition: .3s;
}

.increment:hover {
  background-color: #ff588d;
  color: #ffffff;
  border: solid .1rem #f9457f;
  transition: .3s;
}

.quantity {
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  border-radius: .4rem;
}

.cantTotal {
  font-size: 1.9rem;
  font-weight: 700;
  color: #000000;
  margin-top: 1rem;
}

.relacionados {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.relacionados::after {
  content: "";
  display: block;
  width: 100px; 
  height: 4px;
  background-color: #007bff;
  margin: 0.5rem auto;
}

@media (max-width: 768px) {
  .divGlobal {
    margin-top: 10rem;
    flex-direction: column;
    align-items: center;
  }

  .divLocal {
    padding: 1rem;
  }
  .gallery {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }

  .divPhotos {
    margin-left: 0;
    margin-top: 0;
  }

  .divImage {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }

  .productoDetail {
    padding: 2rem 1rem;
  }

  .divVariant {
    margin-bottom: 2rem;
  }
  

  .productoDetailImage {
    width: 100%;
    height: auto;
  }

  .buttonCart,
  .buttonWP {
    width: 25rem;
  }

  .divDescription {
    width: 100%;
    margin-left: 0;
    padding: 1rem;
  }
} */
