
.sideBar {
  position: sticky;
  width: 10rem;
  background-color: #31486b;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  overflow-y: auto;
}

.link {
  text-decoration: none;
  color: #fff;
}

.item {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 1rem;
  color: var(--white-color);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.item:hover {
  /* background-color: #1e3355; */
  transform: scale(1.05); /* Escala ligeramente el elemento en hover */
}

.item i {
  font-size: 3.5rem;
  /* margin-bottom: 1rem;  */
}

.item span {
  font-size: 1.6rem;
  text-align: center; 
}