.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30rem;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem 1.5rem;
}

/* .containerGlobal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  grid-row-gap: 10rem;
  margin: 2rem auto;
  background-color: rgb(255, 255, 255);
}

@media (max-width: 1424px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }
}




.pagination {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.page {
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: #ffffff;
  border: 1px solid #f9457f;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.page:hover {
  background-color: #ccc;
}

.activePage {
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: #f9457f;
  color: #fff;
  border: 1px solid #f9457f;
  border-radius: 4px;
  cursor: pointer;
} */
