.containerGlobal {
  display: flex;
  justify-content: center;
}

.container {
  width: 90%; /* Ajusta el ancho según tus necesidades */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  grid-row-gap: 10rem;
  margin: 2rem auto; /* Centra el contenedor horizontalmente y agrega margen superior e inferior */
  background-color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }
}

/* Estilos para la paginación */
.pagination-wrapper {
  display: flex;
  flex-direction: column; /* Cambia la dirección de flexión para apilar verticalmente */
  align-items: center; /* Centra el componente de paginación horizontalmente */
  margin-top: 20px; /* Espacio entre la galería y el componente de paginación */
}

.pagination-container {
  background-color: #f9457f;
  display: inline-block;
  justify-content: center;
  margin-top: 20px; /* Espacio entre la galería y la paginación */
}

.pagination {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 5rem; /* Espacio entre los elementos de paginación */
}

.pagination li {
  margin: 0;
}

.pagination a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
  background-color: #f9457f;
  color: #fff;
}

/* Estilos para la página activa */
.pagination .active {
  background-color: #f9457f;
  color: #fff;
}

/* CSS para pantallas más pequeñas */
@media (max-width: 768px) {
  .products-container {
    flex-direction: column; /* Cambiar a una dirección de columna en pantallas más pequeñas */
  }

  .pagination-container {
    margin-top: 2rem; /* Ajusta el margen para separar el paginado de la galería */
  }
}