/* CSS Global */

.nameProduct {
  font-size: 1.4rem;
  font-weight: 600;
  color: #000000;
  margin-left: 1rem;
}

.priceProduct {
  font-size: 1.4rem;
  font-weight: 500;
  color: #000000;
  margin-left: 1rem;
}

.containerGlobal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9457f;
  padding: .2rem 5%;
  
}

/* CSS Contenedor principal */
.container {
  background-color: #f9457f;
  margin-top: 1rem;
  padding-right: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; /* Envolver los elementos si no caben en una línea */
}

/* CSS Contenedor del campo de búsqueda */
.searchContainer {
 
  display: flex;
  align-items: center;
}

.searchInput {
  border: none !important; /* Elimina el borde */
  font-size: large;
  color: #ffffff;
  background-color: #f9457f;
  
}

.searchContainer input::placeholder {
  color: #ffffff; /* Cambia "your-desired-color" por el color que desees */
  padding-left: 1rem;
}
/* Ventana emergente de resultados */
.searchResults {
  position: absolute;
  top: 6rem;
  right: 80%;
  width: 250px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 2;
  margin-top: 10px;
}

/* Ajusta el valor para tabletas */
@media screen and (max-width: 1024px) {
  .searchResults {
    right: 65%; /* Cambia el valor para tabletas según tus necesidades */
  }
}

/* Ajusta el valor para dispositivos móviles */
@media screen and (max-width: 768px) {
  .searchResults {
    right: 10%; /* Cambia el valor para dispositivos móviles según tus necesidades */
  }
}

.resultItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.resultItem img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.seeMore {
  color: #007bff;
  cursor: pointer;
  text-align: center;
}

/* CSS Iconos de login y carrito */
.loginCart {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 2.2rem;
  color: white;
  cursor: pointer;
  margin-left: 2.2rem;
  
}

/* CSS Logotipo */
.logo {
   width: 16rem;
  }

/* CSS Barra de navegación */
.nav {
  
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.nav a {
  margin-right: 2rem;
  color: white !important;; 
  font-size: 1.4rem;
}

/* CSS Menú Hamburguesa */
.burger {
  display: none;
}

@media (max-width: 768px) {
  .burger {
    display: block;
    cursor: pointer;
  }

  .nav {
    display: none;
  }

  /* Mostrar el menú desplegable cuando el usuario hace clic en el ícono de hamburguesa */
  .menu-open .nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    gap: 1rem;
    z-index: 1;
  }
}
