/* Images.module.css */
.divImages {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 4 columnas por fila para mostrar 12 imágenes por fila */
  gap: 10px; /* Espacio entre las imágenes */
}

.images {
  position: relative;
}

.images img {
  max-width: 100%;
  height: auto;
}