.container {
  margin: 2rem 0;
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.variationContainer {
  margin-top: 20px;
}

/* Estilos para las imágenes (puedes personalizarlos según tus necesidades) */
.imagesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.imageItem {
  max-width: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.imageItem img {
  max-width: 100%;
  height: auto;
}